<mat-sidenav-container fullscreen>    
    <mat-sidenav mode="side" opened style= "background-color:rgb(186,213,171);width:20%;">
       <app-navbar></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content>

        <div class="outer">
            <div class="middle">
              <div class="inner">
                <div class="container">
                    <h1>Contact Our Support Team!</h1>
                    <body>If you feel that your account as been compromised please feel free to contact our support team at Support_Axle@banking.com
                        or call toll free at (US) 1-(800)-123-4567, (International) 1-(888)-765-4321                    </body>
                    </div>
              </div>
            </div>
          </div>
    
    </mat-sidenav-content>
  </mat-sidenav-container>

