<img src="../../assets/axle.png" alt="Axle Logo" style="width:100%;height:23%;">

<mat-accordion>
    <mat-expansion-panel style= "background-color:rgb(186,213,171); font-size:1.5vw;">
      <mat-expansion-panel-header>
        <mat-panel-title>
        <b><u> Menu Options</u></b>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="button-row-a">
        <a mat-raised-button routerLink="/accounts" class="navbarButton" style= font-size:1vw;>My Account</a>
        <br><br><br>
        <a mat-raised-button routerLink='/transfer' class="navbarButton" style= font-size:1vw;>Transfer</a>
        <br><br><br>
        <a mat-raised-button routerLink="/settings" class="navbarButton" style= font-size:1vw;>Settings</a>
        <br><br><br>
         <a mat-raised-button routerLink="/support" class="navbarButton" style= font-size:1vw;>Contact Support</a>
         <br><br><br>
        <a mat-raised-button routerLink="/login" class="navbarButton" style= font-size:1vw;>Logout</a>
        </div>
    </mat-expansion-panel>
</mat-accordion>
