<mat-accordion>
    <mat-expansion-panel style= "background-color:rgb(186,213,171)">
      <mat-expansion-panel-header>
        <mat-panel-title>
        <b><u> Menu Options</u></b>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="button-row-a">
        <a mat-raised-button routerLink="/accounts" style="width : 100%; background-color:rgb(233,167,119);">My Account</a>
        <br>
        <a mat-raised-button routerLink='/transfer' style="width : 100%; background-color:rgb(233,167,119);">Transfer</a>
        <br>
        <a mat-raised-button routerLink="." style="width : 100%; background-color:rgb(233,167,119);">Settings</a>
        <br>
         <a mat-raised-button routerLink="." style="width : 100%; background-color:rgb(233,167,119);">Contact Support</a>
        <br>
        <a mat-raised-button routerLink="/login" style="width : 100%; background-color:rgb(233,167,119);">Logout</a>
        </div>
    </mat-expansion-panel>
</mat-accordion>
