
<mat-sidenav-container fullscreen>
        <mat-sidenav mode="side" opened>
           
            <a mat-raised-button routerLink="/accounts">My Account</a>
            <br>
            <a mat-raised-button routerLink=".">Transfer</a>
            <br>
            <a mat-raised-button routerLink=".">Settings</a>
            <br>
            <a mat-raised-button routerLink=".">Contact Support</a>
            <br>
            <a mat-raised-button routerLink="/login">Logout</a>
      
            
        </mat-sidenav>
        <mat-sidenav-content>


                <h1>Hi</h1>
                <p>You're logged in to Axle Banking!!</p>

          


        </mat-sidenav-content>
      </mat-sidenav-container>
