.input-full-width {
    width:65%;
}

.endFormButton
{
margin:2%;
}
.container
{
  border: 1px solid black;
  border-radius:4px;
  padding:1%;
  width:75%;
  margin: 0 auto;
  background-color:rgb(186,213,171);
}

.outer {
  display: table;
  position: absolute;
  top: 20%;
  left: 0;
  height: 20%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*whatever width you want*/
}