

<mat-sidenav-container fullscreen>
        <mat-sidenav mode="side" opened>
           
            <a mat-raised-button routerLink=".">My Account</a>
            <br>
            <a mat-raised-button routerLink=".">Transfer</a>
            <br>
            <a mat-raised-button routerLink=".">Settings</a>
            <br>
            <a mat-raised-button routerLink=".">Contact Support</a>
            <br>
            <a mat-raised-button routerLink=".">Logout</a>
      
            
        </mat-sidenav>
        <mat-sidenav-content>


                <h1>Hi</h1>
                <p>You're logged in to Axle Banking!!</p>

                <table *ngIf="AccountList" style="width:800px; margin:0 auto;">
                        <tr>
                            <td>Account Number</td>
                            <td>Balance</td>
                        </tr>
                        
                        <tr *ngFor= "let Account of AccountList">
                            <td>{{Account.account_number}}</td>
                            <td>{{Account.balance}}</td>
                         
                        </tr>
                        
                        
                        
                        </table>
                        




        </mat-sidenav-content>
      </mat-sidenav-container>


<!-----
<table *ngIf="AccountList" style="width:800px; margin:0 auto;">
<tr>
    <td>Account Number</td>
    <td>Balance</td>
</tr>

<tr *ngFor= "let Account of AccountList">
    <td>{{Account.account_number}}</td>
    <td>{{Account.balance}}</td>
 
</tr>



</table>
---->