<div id="formWrapper">
  
    
    <div id="accountList">
      <div *ngFor="let Accounts of accountList">
        id: {{user.id}} <br />
        username:{{user.username}} <br />
        <button>My Accounts:</button> <br />
        <button>Transaction</button><br />
        <button>Transfer</button><br />
        <button>Settings</button><br />
        <button>Contact Support</button><br />
        <button>Log out</button><br />
        <p>--------------------------</p>
      </div>
    </div>
  </div>